<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\stylesheets\header.css"  type="text/css">
    <title>Document</title>
</head>
<body>
    <div style="padding-left: 10%; padding-right: 10%; ">
        <div class="row" style="border-top: 1px solid #000000; padding-top: 40px; padding-bottom: 20px;">
            <div class="col-md-4">
                <div style="display: flex;">
                    <div class="footer-link" style="padding-left: 0px !important;">Terms of Use</div>
                    <div class="footer-link">Privacy Policy</div>
                    <div class="footer-link">Cookies</div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-right">
                <img src="/assets/facebook.svg"  class="social-icon">
                <img src="/assets/instagram.svg"  class="social-icon">
                <img src="/assets/linkedin.svg"  class="social-icon">
                <img src="/assets/twitter.svg"  class="social-icon">
    
    
            </div>
        </div>
        <div style="width: 100%; text-align: left;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed maiores libero sequi aliquam aut ab unde quaerat velit omnis recusandae! Repellendus quia deleniti quibusdam eius tempore possimus consectetur veritatis placeat?
        </div>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>
