<%- include("./partials/header.ejs") %>
<body onload="run();">
       <div id="myAbacus" style="display: flex; align-items: center; justify-content: center;"> </div> 
</body>
<%- include("./partials/footer.ejs") %>
<script src="scripts/abacus.js"></script>

<script>
 function run() {
        var abacus = new Abacus("myAbacus", 0);
        abacus.init();
      }
</script>