<%- include("./partials/header.ejs") %>
<!-- Desktop View -->
<br>
<div class="container">
    <div style="text-align: center;">
   <h5> <b >SharpMind Labs Abacus program offers Whole brain development technique through practice based learnings.</b></h5>
</div>
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/MAIN.png" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center;">
        <div>
    <h1>Key Benefits Of Online Abacus</h1>
    <ul>
        <li>
            Improvement in Memory & Concentration
        </li>
        <li>
            Simulation of (L & R) Brain
        </li>
        <li>
            Increase Memory Power
        </li>
        <li>
            Improve Logical Reasoning
        </li>
        <li>
            Good Cognitive Strength
        </li>
        <li>
            Faster Speed with Accuracy
        </li>
    </ul>
</div>
    </div>
  </div>
</div>
<div style="width: 100%; background-color: #5DC5FD; text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 20px;">
<div>    We firmly believe that during this age band, mind is most receptive and conducive to learn.
</div>
<div>
    The program give your child (5-15 years) an edge, <b>when it matters the most...</b>
</div>
</div>
<div class="container">
    <br>
    <div style="text-align: center;" >

    <h1>Program Structure</h1>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>
                Our Abacus program is divided into 10 different levels of approx. 3 months duration each. Each level designed to deliver visible progress and outcome.
            </p>
            <p>
                End of each level, each child will be assessed for advancement to the next level.
            </p>
            <p>
                Total duration of the course is 30 Months (2.5 Years) flexi-program. Depending upon the interest and performance of the kids the program can be longer or shorter
            </p>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center; align-items: center;"><div style="padding: 20px; background-color: #F2D984;"><img src="/assets/brain.png" style="max-width: 350px; width: 100%; height: auto;"></div></div>
        <div class="col-md-4">
            <p>We use virtual abacus to teach students on the instrument. It helps students understand easily and learn faster</p>
            <p>Extensive practice sessions with daily Home Practice Book</p>
            <p>The classes are 1 hour, twice (2 days) a week with hands on practice sessions</p>
            <p>Fun Based Activities for listening and concentration</p>
        </div>
    </div>
    <br>
    <div style="text-align: center;" >

        <h1>About Instructors</h1>
        </div>
        <div class="row">
            <div class="col-lg-5" style="text-align: center;">
                <img src="/assets/teach.png" class="learn-online" style="width: 100%; height: auto;"/>
        
            </div>
            <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center;">
                <div>
            <ul>
                <li>
                    Programs are taken by certified Abacus Instructors having over 15+ years of experience
                </li>
                <li>
                    Most of our Instructors have undertaken over 1000+ children in classroom & online sessions
                </li>
                <li>
                    Focused Instructor review mechanism to ensure there is complete comfort between student and instructor
                </li>
                <li>
                    Practice is key to success and hence instructors work with parents to focus on daily home practice
                </li>
                <li>
                    Good Cognitive Strength
                </li>
                <li>
                    Faster Speed with Accuracy
                </li>
            </ul>
        </div>
            </div>
          </div>
          <br>
          <div class="">
              <div style="text-align: center;">
                <h1 > Flash Cards </h1>
                <h3 class="second-header-two">Quick Mental Image Processing Exercise</h3>
              </div>
              <br>
              <br>
            <div class="row">
                <div class=" col-xs-12 col-md-7 ">
                    <p>Take a quick fun Flash Card exercise to test your level 😊 </p>
                    <p >Flash Cards Exercise is the bedrock of SharpMind Labs teaching module.. we strive to make this a fun filled, fastest finger play so children learn it without efforts. We have seen and delivered amazing results in child’s memory, concentration and analytic skill, those who have taken the program with us. </p>
                    <ul style="text-align: left;">
                        <li>Improvement in Memory & Concentration</li>
                        <li>Simulation of (L & R) Brain</li>
                        <li>Increase Memory Power</li>
                    </ul>
                </div>
                <div class="  col-xs-12 col-md-5 ">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div>
                    <img src="/assets/pablo-downloading.png" class="quiz-image" style="max-width: 400px;">
                </div>

                </div>
            </div>
            <div style="display: flex; justify-content: center; width: 100%;">
                <div> 
                     <a class="btn btn-warning btn-btn clickable" href="/flashcard">Start</a>
                </div>

            </div>
        </div>
        <br>
        <br>
        <div class="">
            <div style="text-align: center;">
              <h1 > Quiz Cards </h1>
            </div>
            <br>
            <br>
          <div class="row">
              <div class=" col-xs-12 col-md-5">
                  <div style="display: flex; justify-content: center; align-items: center;">
                    <div>
                    <img src="/assets/pluto-done-1.png" class="quiz-image">
                </div>
                  </div>

              </div>
              <div class="  col-xs-12 col-md-7">
                <p>
                    Quiz Exercise helps children improve listening skills, good cognitive strength and faster speed and accuracy. It’s the best way to quickly do simple to complex mathematical calculations with speed and accuracy. When we teach children, we attempt to also help them listen the numbers and calculations and do it with speed. Group learning helps children understand their level of speed and accuracy with peer children in the same level.
                </p>
                <p>
                    <b>Better Listening Skills</b>
                </p>
                <p>
                    <b>Good Cognitive Strength</b>
                </p>
                <p>
                    <b>Faster Speed with Accuracy</b>
                </p>
              </div>
          </div>
          <div style="display: flex; justify-content: center;">
              <div>                    <a class="btn btn-warning btn-btn clickable" href="/demoquiz">Start</a>
              </div>

          </div>
      </div>
</div>
<br>
<br>
<div class="">
    <div style="text-align: center;">
      <h1 > Word Problems </h1>
    </div>
    <br>
    <br>
  <div class="row">
      <div class=" col-xs-12 col-md-7 ">
          <p>In this section you will be provided various problems and you have to select the answer which you get by solving the problem.</p>
      </div>
      <div class="  col-xs-12 col-md-5 ">
          <div style="display: flex; justify-content: center; align-items: center;">
              <div>
          <img src="/assets/question.png" class="quiz-image" style="max-width: 300px;">
      </div>

      </div>
  </div>
  <div style="display: flex; justify-content: center; width: 100%;">
      <div> 
           <a class="btn btn-warning btn-btn clickable" href="/wordproblem">Start</a>
      </div>

  </div>
</div>
<br>
<br>

</div>
<br>
<br>
<%- include("./partials/footer.ejs") %>