<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/panel2.png" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">Accounting Tutoring</h1>
        <div style="text-align: left;">
            <p>
                Accounting is the measurement, processing, and communication of financial and non-financial information about economic entities such as businesses and corporations. Accounting, which has been called the "language of business", measures the results of an organization's economic activities and conveys this information to a variety of users, including investors, creditors, management, and regulators. A good understanding of Accounting, will open the doors to careers in many fields and professions, ranging from certified financial planners and accountants to managing finance departments at corporations. Accounting is thus a highly sought-after subject but is also a challenge to master. Let our trained Accounting tutors help your child navigate this fascinating subject!
        </div>
        <div>
</div>
</div>
</div>
<br>
<br>
<h1>
    Study Accounting Online   
      </h1>
<p>
    Our online Accounting courses are designed to give students a good understanding of fundamental Accounting concepts and principles. Our Accounting tutors are available for online tutoring, so you can get to work immediately in the following subject areas: High School Accounting, Financial Accounting, Auditing, Forensic Accounting, Accounting Homework Help and Accounting Test Preparation. Our online tutors use proven tutoring techniques to help their students build academic self-confidence and achieve positive results in the classroom. A well-trained Accounting tutor can identify a student’s specific weak points and work on those so that their abilities and grades improve.
    <br>

</div>

<%- include("./partials/footer.ejs") %>
