<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/bio.jpg" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">Biology Tutoring        </h1>
        <div style="text-align: left;">
            <p>
                Biology is the fascinating natural science that studies life and living organisms from viruses and bacteria to the most complex and developed organisms such as humans, including their physical structure, chemical processes, molecular interactions, physiological mechanisms, development and evolution. A good understanding of Biology, like Chemistry, will open the doors to careers in many fields and professions, ranging from healthcare to modern biotechnology. The career could span from being a medical professional to a life scientist with applications in Agriculture, Food Processing and Pharmaceutical industries to name a few. Many Colleges and Universities expect their applicants to have studied Biology at the High school level. Further study at the University level may be desired to be admitted to a Medical school. Biology is thus highly enriching but is also a great challenge to master. Let our trained Biology tutors help your child navigate this fascinating subject!</p>
        </div>
        <div>
</div>
</div>
</div>
<br>
<br>
<h1>Study Biology Online    </h1>
<p>
    Our online Biology courses are designed to give students a good understanding of fundamental Biology facts and principles. Our biology tutors are available for online tutoring, so you can get to work immediately in the following subject areas: High School Biology, Honors Biology, AP Biology, Biology Homework Help, Biology Test Preparation, Anatomy & Physiology, Molecular & Cell Biology, Microbiology, Ecology & Botany, Genetics, Zoology & Marine Biology. Our online tutors use proven tutoring techniques to help their students build academic self-confidence and achieve positive results in the classroom. A well-trained Biology tutor can identify a student’s specific weak points and work on those so that their abilities and grades improve.</p>
<br>

</div>

<%- include("./partials/footer.ejs") %>
