<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/chem.jpg" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">Chemistry Tutoring</h1>
        <div style="text-align: left;">
            <p>
                Chemistry is the scientific discipline involved with elements and compounds composed of atoms, molecules and ions: their composition, structure, properties, behavior and the changes they undergo during a reaction with other substances. It is a central science between Physics and Biology because it provides a foundation for understanding both basic and applied scientific disciplines at a fundamental level. Knowledge of Chemistry is at the forefront of progress in virtually all advanced materials, medical and pharmaceutical development. A good understanding of Chemistry will open the doors to careers in these exciting academic and professional opportunities.  Chemistry is thus highly enriching but is also a great challenge to master. Let SharpMind Labs tutors help your child to not only meet the challenges of High School Chemistry courses, but all succeed in them!
           
        </div>
        <div>
</div>
</div>
</div>
<br>
<br>
<h1>Study Chemistry Online  </h1>
<p>
    In grades K-5, tutors provide students with a solid foundation in whole numbers, addition, subtraction, multiplication, division, fractions and decimals — which help young students build the foundation to successfully apply more demanding math concepts and procedures, and move into applications. Tutors stress not only procedural skill but also conceptual understanding, to make sure students are learning and absorbing the critical information they need to succeed at higher levels - rather than the current practices by which many students learn enough to get by on the next test, but forget it shortly thereafter, only to review again the following year.
</p>
<br>

</div>

<%- include("./partials/footer.ejs") %>
