<%- include("./partials/header.ejs") %>

<div class="container">
        <div class="row join-us-section">
          <div class="col-lg-6">
            <div class="join-us-overflow">
              <img class="join-us-img" src="assets/join_us.png">
              <h1 class="center-img-text">JOIN US!</h1>
            </div>
          </div>
          <div class="col-lg-6"><p>If you have interest, passion and experience to teach any of the subjects which SharpMind Labs offers across Grades 1 to 12th, or you are a certified Abacus instructor, and wish to be part of ourteam of passionate instructors, drop in your coordinates, and we will explore this further.</p>
            <form action="contact" method="POST">
              <div class="join-us-form-section">
              <div class="join-us-form-text"><input type="text" placeholder="Name" name="name"></div>
              <div class="join-us-form-text"><input type="email" placeholder="Email" name="email"></div>
              <div class="join-us-form-text"><input type="number" placeholder="Phone" name="number"></div>
              <div class="join-us-form-text"><input type="text" placeholder="Subject" name="subject"></div>
              <div class="join-us-form-text">
                <select name="curriculum">
                  <option value="Curriculum" disabled selected>Curriculum</option>
                  <option value="Elementary School">Elementary School</option>
                  <option value="Middle School">Middle School</option>
                  <option value="High School">High School</option>
                </select>
              </div>
              <% if (locals.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
          </div>
            <div class="text-center">
              <button type="submit" class="btn btn-warning btn-btn clickable">Submit</button>
            </div>
          </form>
          </div>
        </div>
        <div class="row get-in-touch-section">
          <div class="col-lg-6"><h1>Get in touch with us,</h1><h2>to give your Child an Edge;</h2></div>
          <div class="col-lg-6"><img class="get-in-touch-img" src="assets/get-in-touch.png"></div>
        </div>
        <div class="row">
          <div class="col-lg-6"><h1>Email-:</h1><h3>sharpmindlabs@gmail.com</h3> <br><h1>Phone-:</h1><h3>+919820717716</h3><h3>+1 (650) 387-0793</h3></div>
          <div class="col-lg-6"><h1 class="contact-us">CONTACT US</h1></div>
        </div>
      <div>
      </div>
</div>
      
<%- include("./partials/footer.ejs") %></div>