<%- include("./partials/header.ejs") %>
  
  <div class="quiz-section">
      <div class="second-content">
        <p id="Instruction">
        </p>
       <p>
         <b>Question: <span id="currentquestion">10</span>/<span id="totalquestion">10</span></b>
       </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <img src="/assets/question.png" class="img-side hidden-xs" />
        </div>
        <div style="flex-grow: 1;">
          <div style="display: flex;" class="margin">
            <div style="padding: 5px;">
              <div
                class="timer"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <div class="timer-text" style="color: black;" id="progressBar">
                  60
                </div>
              </div>
            </div>
            <div style="flex-grow: 1; text-align: center;">
              <h1 id="heading" style="display: none;">
                Select The Correct Answer
              </h1>
            </div>
            <div>
              <div style="display: flex;">
                <div>
                  <img src="/assets/abacus.png" class="abacus-img" />
                </div>
                <div class="timer-text">
                  <b id="sign"> : + </b>
                </div>
              </div>
              <br />
              <div style="display: flex;">
                <div>
                  <img src="/assets/clock.png" class="abacus-img" />
                </div>
                <div class="timer-text">
                  <b> : 60 </b>
                </div>
              </div>
            </div>
          </div>
          <div
            style="display: flex; justify-content: center; align-items: center;"
            class="margin"
            id="main"
          >
            <div class="number" id="question"></div>
            <div id="main-quiz-section">
            <div
              id="option1"
              style="display: none;"
              class="number choices"
            ></div>
            <div
              id="option2"
              style="display: none;"
              class="number choices"
            ></div>
            <div
              id="option3"
              style="display: none;"
              class="number choices"
            ></div>
            <div
              id="option4"
              style="display: none;"
              class="number choices"
            ></div>
          </div>
          </div>
          <br />
          <div
            style="display: flex; justify-content: space-evenly;"
            class="margin"
          >
            <div class="button-quiz">
              <a onclick="reload()" style="cursor: pointer;">Restart</a>
            </div>
            <div class="button-quiz" id="button-quiz">
              <a id="next" onclick="nextQuestion()" style="cursor: pointer;">Next</a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Quit Quiz</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            All the progress will be lost. Are you sure you want to quit?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sec" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning btn-btn" onclick="goBack()" style="background-color: #F2D984 !important;">Change Mode</button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <br />
    <%- include("./partials/footer.ejs") %>
    <script>
              var question = [ '9 -10 +3 +10 -7 ',
  '5 +6 -6 +5 +7 ',
  '1 +9 -3 -8 +6 ',
  '8 +9 -4 -8 +4 ',
  '7 +4 -5 +6 -2 ',
  '9 +4 +3 -6 -10 ',
  '7 +3 -3 -4 -1 ' ];
              var options = [ [ 9, 5, 8, 7 ],
  [ 13, 18, 14, 17 ],
  [ 2, 4, 5, 9 ],
  [ 10, 6, 9, 11 ],
  [ 6, 11, 10, 9 ],
  [ 1, 0, -5, -2 ],
  [ 3, -1, 2, 5 ] ];
                var answer = [5, 17, 5, 9, 10, 0, 2]
              var operation = "subAndAdd";
              var points= 0;
              var currentquestion = 0;
              var done = false;
              var questionArray = new Array();
              if(operation == "subAndAdd"){
                document.getElementById('sign').innerHTML=": +";
                document.getElementById('Instruction').innerHTML="Find the sum of the numbers displayed in the cards below.<br> This is a Demo Version. Please Log-in to enhance your experience"
              }else {
                document.getElementById('sign').innerHTML=": *";
                document.getElementById('Instruction').innerHTML="Find the product of the numbers displayed in the cards below."

              }
              document.getElementById('currentquestion').innerHTML = currentquestion + 1;
              for( var j = 0; j < question.length; j++){
                  var stringArray = new Array();
                  var string = question[j];
                  string = string.split(" ");
                      for(var i =0; i < string.length; i++){
                          stringArray.push(string[i]);

                      }
                  questionArray.push(stringArray);

              }
              var noOfQuestion = questionArray.length;
              document.getElementById('totalquestion').innerHTML = noOfQuestion;

              var noOfDigits = questionArray[0].length;
              var timeleft = 60;
              var eachtime = 60/(noOfQuestion - 1);
              timer();

              function timer(){
                  var currentDigit = 0;

                  document.getElementById("option1").style.display = "none";
                      document.getElementById("option2").style.display = "none";
                      document.getElementById("option3").style.display = "none";
                      document.getElementById("option4").style.display = "none";
                      document.getElementById("question").style.display = "block";
                      document.getElementById("option1").style.color = "#FAEF6F";
                      document.getElementById("option2").style.color = "#FAEF6F";
                      document.getElementById("option3").style.color = "#FAEF6F";
                      document.getElementById("option4").style.color = "#FAEF6F";
                      document.getElementById("question").style.color = "#FAEF6F";

                      document.getElementById("heading").style.display = "none";
                      document.getElementById("main").style.justifyContent = "center";
                      document.getElementById("button-quiz").style.display = "none";

                  var downloadTimer = setInterval(function(){
                  if(timeleft <= 0){
                      clearInterval(downloadTimer);
                      document.getElementById("question").style.display = "none";
                      document.getElementById("heading").style.display = "block";
                      document.getElementById("option1").innerHTML = options[noOfQuestion - currentquestion - 1][0];
                      document.getElementById("option2").innerHTML = options[noOfQuestion - currentquestion - 1][1];
                      document.getElementById("option3").innerHTML = options[noOfQuestion - currentquestion - 1][2];
                      document.getElementById("option4").innerHTML = options[noOfQuestion - currentquestion - 1][3];
                      document.getElementById("main").style.justifyContent = "space-evenly";
                      document.getElementById("option1").style.display = "block";
                      document.getElementById("option2").style.display = "block";
                      document.getElementById("option3").style.display = "block";
                      document.getElementById("option4").style.display = "block";
                      document.getElementById("button-quiz").style.display = "block";

                  }

              document.getElementById("progressBar").textContent = timeleft;
              document.getElementById("question").innerHTML = questionArray[noOfQuestion - currentquestion -1 ][currentDigit];



              timeleft -= 1;
              }, 1000);
              var changequest = setInterval(function(){
                  if(timeleft <= 2*eachtime){
                      clearInterval(changequest);
                  }
                  if(currentDigit !== noOfDigits - 2){
                    currentDigit = currentDigit + 1;
                  }

              }, eachtime*1000);

              }

              document.querySelectorAll(".choices").forEach((e) => {
        e.addEventListener("click", () => {
        //   const data = {
        //     answer: e.innerText,
        //     index: noOfQuestion - currentquestion -1,
        //     question: question[noOfQuestion - currentquestion -1 ],
        //   };

   
                if (e.innerHTML == answer[noOfQuestion - currentquestion - 1] && done == false) {
                  e.style.color = "green";
                  document.getElementById("heading").style.color = "green";
                  document.getElementById("heading").innerHTML = "CORRECT ANSWER";
                  points = points + 1;
                  done = true;
                } else {
                  if(done == false){
                    e.style.color = "Red";
                  document.getElementById("heading").style.color = "red";
                  document.getElementById("heading").innerHTML = "WRONG ANSWER";
                  done = true;
                  }
                 
                }
                document.querySelectorAll(".choices").forEach((e,index) => {
                  if(e.innerText == answer[noOfQuestion - currentquestion - 1]){
                    if(done == false){
                      document.querySelectorAll(".choices")[index].style.color = "green";
                    }
                    done = true;
                  }})})});
      function nextQuestion() {
          timeleft = 60;
          done = false;
          document.getElementById("option1").classList.add("choices");
          document.getElementById("option2").classList.add("choices");
          document.getElementById("option3").classList.add("choices");
          document.getElementById("option4").classList.add("choices");
          document.getElementById("heading").innerHTML = "Select The Correct Answer";
          document.getElementById("heading").style.display = "none";
          // document.getElementById("option1").style.color = "#FAEF6F";
          if(currentquestion != noOfQuestion - 1){
            currentquestion = currentquestion + 1;
            document.getElementById('currentquestion').innerHTML = currentquestion + 1;

            timer();
          } if(currentquestion + 1 === noOfQuestion) {
            document.getElementById("heading").innerHTML = "Total Points:" + points;

          }
      }
      function reload() {
        location.reload();
      }
      function goBack() {
  window.history.back();
}
    </script>
  </body>
</html>
