<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/eng.jpg" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">English Tutoring</h1>
        <div style="text-align: left;">
            <p>
                English and language arts are two of the most basic and widely taught subjects in schools. The English and language arts can be separated into five basic categories: reading, writing, speaking, listening and viewing.
        </div>
        <div>
</div>
</div>
</div>
<br>
<br>
<h1>Grades K-5/ elementary English</h1>
<p>
    In elementary school, our tutors focus on basic reading, writing and linguistic / communication skills. We also help children master, periods of silent sustained reading, cursive writing, syntax, thematic writing and vocabulary. Through these exercises, SharpMind Labs tutors will ensure that children develop reading and writing skills at an early age.</p>
<br>
<h1>Middle School English</h1>
<p>
    Having built a strong foundation in elementary school, in middle school, our tutors focus on more complicated reading comprehension, such as fiction, poetry and essays. In addition, our lessons focus on grammar and semantics, and students begin to develop writing skills that encompass poetry, expository writing and creative writing. Through these exercises, SharpMind Labs tutors will ensure students will expand vocabularies and develop a mature grasp of reading, writing, speaking, listening and viewing.</p>
<br>
<h1>
    High School English
</h1>
<p>
    In high school our tutors help students develop analytical skills. Our tutors focus on reading novels, essays and other forms of literature, and require students to analyze, interpret and dissect written material in order to compare, contrast and discuss elements, like theme, characters and plot. Our tutors help student become proficient writers of essays and/or research papers. Through these exercises, SharpMind Labs tutors will help students master English comprehensively, combining the five skills of language arts in order to understand literature and its value.
</p>
<br>
<h1>
    Study English Online  
</h1>
<p>
    Our online English courses are designed to give students a good understanding of five skills of language arts. Our English tutors are available for online tutoring, so you can get to work immediately in the following subject areas: K-12 School English, English homework help, English test preparation and writing and grammar. Our online tutors use proven tutoring techniques to help their students build academic self-confidence and achieve positive results in the classroom. </p>
</div>

<%- include("./partials/footer.ejs") %>
