<%- include("./partials/header.ejs") %>
<div class="quiz-section">
    <div class="quiz-content">
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <img src="/assets/pablo-downloading.png" class="quiz-image">
        </div>
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <h1 class="second-header-two"> Flash Cards- Quick Mental Image Processing Exercise</h1>
            <p>Take a quick fun Flash Card exercise to test your level 😊 </p>
            <p >Flash Cards Exercise is the bedrock of SharpMind Labs teaching module.. we strive to make this a fun filled, fastest finger play so children learn it without efforts. We have seen and delivered amazing results in child’s memory, concentration and analytic skill, those who have taken the program with us. </p>
            <ul style="text-align: left;">
                <li>Improvement in Memory & Concentration</li>
                <li>Simulation of (L & R) Brain</li>
                <li>Increase Memory Power</li>
            </ul>
            <a class="btn btn-warning btn-btn clickable" onclick="flashStart()">Start</a>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
