<%- include("./partials/header.ejs") %>
<div class="quiz-section">
    <div class="quiz-content">
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <img src="/assets/pablo-downloading.png" class="quiz-image">
        </div>
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <h1 class="second-header"> Flash Cards</h1>
            <p>In this section you will be provided images of an abacus and you have to answer it by selecting the correct number which it shows. </p>
            <a class="btn btn-warning btn-btn" onclick="flashStart()">Start</a>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
