<%- include("./partials/header.ejs") %>
<div class="quiz-section">
    <div class="quiz-content">
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <img src="/assets/pablo-downloading.png" class="quiz-image">
        </div>
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <h1 class="second-header"> Flash Cards</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis placeat ratione, optio atque maiores qui quo nulla reiciendis eum incidunt praesentium reprehenderit doloremque fuga nobis! Ad molestias ipsa a quas.</p>
            <a class="quiz-start-btn button-login" onclick="flashStart()">Start</a>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
