<%- include("./partials/header.ejs") %>
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100% !important;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div style="background-image: url('/assets/background.png');" class="imageItem">
                    <div style="padding-left: 10%; padding-right: 10%; text-align: center;">
                        <h1 style="text-align: center;">Give your child (5-15 years) an edge,
                            when it matters most...
                            </h1>
                            <br>
                            <a href="/register" class="login-link">
                                <h4 style="color: black; text-align: center;">Register for a live Demo to see how it will benefit your child</h4>
                                <br>
                            <div class="button-login" id="login-button">
                                <div class="text-login">
                                     Register
                                </div>
                                <div class="right-arrow">
                                    <img src="/assets/Path 17.svg">
                                </div>
                            </div>
                            </a>
                    </div>
              
                </div>
              </div>
              <div class="carousel-item">
                <div style="background-image: url('/assets/caros.png');" class="imageItem">
                    <div style="padding-left: 10%; padding-right: 10%; text-align: center;">
                        <h1 style="text-align: center;">Be it Personalized, One-on-One Instructor for your ward, or
                            Group online tutoring for collective learning, 
                            
                            </h1>
                            <br>
                            <h1 style="text-align: center;">We have it all – from Grade-1 to Grade-12 
                                Guaranteed Performance, Outcome Driven</h1>
                            <br>
                            <a href="/register" class="login-link">
                          <div class="button-login" style="border: 4px solid black;">
                              <div class="text-login">
                                   Register
                              </div>
                              <div class="right-arrow">
                                  <img src="/assets/Path 17.svg">
                              </div>
                          </div>
                          </a>
                    </div>
              
                </div>
              </div>
              <div class="carousel-item" >
                <div style="background-image: url('/assets/caros2.png');" class="imageItem">
                    <div style="padding-left: 10%; padding-right: 10%; text-align: center; width: 100%;">
                        <h1 style="text-align: center;  width: 100%;">We help child; succeed in school,Instant Online Tutoring – All subjects: Anytime @ your convenience.. <br>
                            </h1>
                            <br>
                            <h4 style="text-align: center;"></h4>
                            <br>
                            <a href="/register" class="login-link">
                              <div class="button-login" style="border: 4px solid black;">
                                  <div class="text-login">
                                       Register
                                  </div>
                                  <div class="right-arrow">
                                      <img src="/assets/Path 17.svg">
                                  </div>
                              </div>
                              </a>
                    </div>
                   
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <div class="container">

    <div class="row" style="padding: 0px !important; margin-bottom: 20px;">
      <div class="col-md-8 col-xs-12" style="padding: 0px !important;">
        <div style="width: 100%;">
          <h1 style="color: #B4B4B4;">Learn With Us</h1>
          <h1>Enabling Smarter Generation </h1>
        </div>
        <img src="/assets/studygirl.png" class="imgSignup">
      </div>
      <div class="col-md-4 col-xs-12" style="padding: 0px !important; ">
        <br>
        <br>
      <div style="display: flex;">
        <div style="flex-grow: 1; text-align: left; padding-right: 30px; padding-left: 30px; background-color: #FAFAFA; height: 555px;">
          <div style="margin-left: auto;">
            <h1>Signup Now</h1>
        <form action="contact" method="POST">
          <div class="join-us-form-section">
          <div class="join-us-form-text" style="width: 100% !important;"><input type="text" placeholder="Name" name="name" ></div>
          <div class="join-us-form-text" style="width: 100% !important;"><input type="email" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" style="width: 100% !important;"></div>
          <div class="join-us-form-text" style="width: 100% !important;"><input type="number" placeholder="Phone" name="number"></div>
          <div class="join-us-form-text" style="width: 100% !important;"><input type="text" placeholder="Subject" name="subject" pattern="[A-Za-z]"></div>
          <div class="join-us-form-text" style="width: 100% !important;">
            <select name="curriculum">
              <option value="Curriculum" disabled selected>Curriculum</option>
              <option value="Elementary School">Elementary School</option>
              <option value="Middle School">Middle School</option>
              <option value="High School">High School</option>
            </select>
          </div>
          <% if (locals.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
      </div>
     
        <div class="text-center">
          <button type="submit" class="btn btn-warning btn-btn clickable">Submit</button>
        </div>
        <br>
        <p>Already have an account?<span> <a href="/login">Log In</a></span></p>
      </form>
      <br>
    </div>
    </div>
    <div class="d-none d-sm-block">
      <img src="/assets/border.png" style="width: 50px; height: 555px;" >
    </div>
      </div>
      </div>
    </div>
</div>
<br>
<div style="width: 100%; background-color: #F8F8F8; "> 
  <div class="container">
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div style="display: flex; justify-content: flex-start; align-items: center; flex-direction: column;">
      <div>
        <br>
        <img src="/assets/pencil.png" style="height: 150px;">

      </div>
      <div style="text-align: center;">
        <h3>Wide Range of Subjects</h3>
        <p>
          <br>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <div>
        <br>
        <img src="/assets/search.png" style="height: 150px;">
   
      </div>
      <div style="text-align: center;">
        <h3>Study in Online Mode</h3>
        <p>
          <br>
        </p>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-xs-12">
    <div style="display: flex; justify-content: flex-end; align-items: center; flex-direction: column;">
      <div>
        <br>
        <img src="/assets/problem.png" style="height: 150px;">

      </div>
      <div style="text-align: center;">
        <h3>Tests and Assignments</h3>
        <p>
          <br>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br>
<br>
<div class="container" >
  <div class="about-section">
    <div class="image-res" style="text-align: center;">
        <img src="/assets/abbCover.jpg" style="" class="mainImg">
    </div>
    <div class="about-content">
        <h1 class="about-header">What Is SharpMind Labs ?</h1>
        <br>
        <div class="about-body">
            <p> SharpMind Labs is an institute which is set to help children develop logical, mental and analytical skills in safe and promoting environment. Institute is imparting practice based learnings in Abacus (Mental Mathematics), Analytical Learnings, Competitive exams preparations, Concentration Power enhancement for over 15+ years. 
            </p>
            <p>
              Our programs are designed as per the subject curriculum of respective countries, school patterns along with competitive examination formats. We adopt the most scientific and experiential learning methods aimed to provide guaranteed results, visible outcome in memory power and mental mathematics, as well as child’s performance in other spheres of life. 
            </p>
        </div>
        <br>
        <img src="/assets/horBorder.png" style="width: 100%;"> 
    </div>
</div>
</div>
<br>
<br>
<div class="row " >
  <div class="container d-none d-sm-block">
  <div id="carouselExampleControls3" class="carousel slide "  data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
        <div class="col-md-4 col-xs-12" style="">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 250px; height: 250px; overflow-y: auto;">
              <p style=" ">
                Hi Preeti , Jojy here, Abiel and Alfred’s mum. I just wanted to say thank you for all the hard work you are doing with my boys. You are definitely doing an excellent job with them. Since starting with you , they have so far made a tremendous progress and their maths skills has improved and they are doing good in school too. Your teaching strategies are really good and I honestly appreciate your patience. This is just to thank you for all your hard work .                 <div style="text-align: right; width: 100%;">                </div>

              </p>
              <div style="text-align: right;">
                <h4>
                  -Jojy and  Max (Australia)
                </h4>
                
              </div>
              </div>

            
           
          </div>
            <div style="text-align: center;">
             <br>
             <br>
             <br>
             <br>
             <br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 300px; overflow-y: auto;">
              <p style=" ">
                You and your team are doing great work and continue to make a difference in our kid’s life. You are indeed a great teacher. 
              </p>
              <div style="width: 1005; text-align: right;" >
                <h5>-Mona Jain (Australia)</h5> <h5><br></h5>
              </div>
            </div>
       
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>

            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12" >
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center;height: 300px; overflow-y: auto;">
              <p style="">
                I just wanted to thank you for your help with Sargun. Ever since you have started to tutor Sargun, she has excelled a lot in reading and other subjects in school. She has reached many milestones in her academics. My family and I are very grateful to SharpMind Labs  for your dedication and the time you are spending with Sargun.
        
              </p>
              <div style="text-align: right;">
                <h4>
                  - Vinay Sohal (Australia )
                </h4>
                <h5>
                 <br>
                </h5>
              </div>
            </div>
      
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
        <div class="col-md-4 col-xs-12" style="">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px; height: 250px;">
            <div style="text-align: center;">
              <p style=" overflow-y: auto;">
                I would like to let you know that Avni had her parent- teacher conference last week and she is doing very well in school. She is way ahead of her classmates in reading and writing. Also  in maths, she is able to do all the problems with ease and is meeting the grade level. She has been scoring 3 which is the benchmark.  Thank you Neha and Ishika for your help.
              </p>
              <div style="text-align: right;">
               
                <h5>
                  Meeti Takur (New York)
                </h5>
              </div>
            </div>
        
          </div>
            <div style="text-align: center;">
              <br>
             <br>
             <br>
             <br>
             <br>
             <br><br><br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 300px; overflow-y: auto;">
              <p style="">
                Japjot got a 96% on his exams. I would like to thank Nidhi, who has been an excellent teacher to my son and helped Japjot to avail the opportunity to transfer to advanced Maths class. Without her effort, it would have been tough to achieve. Many thanks to Nidhi. 


              </p>
              <div style="text-align: right;">
               
                <h5>
                  Jasmeet Gill (Texas)
                </h5>
              </div>
            </div>
            </div>
        
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12" >
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 250px; overflow-y: hidden;">
              <p style="">
                My son and daughter have been tutored by SharpMind Labs for several years. I’ve seen a remarkable transformation in their studies and grades. SharpMind labs has a tremendous value in comparison to other tutoring services. The results speak for themselves   both kids are now excellent math student.
                <br>
               
              </p>
              <div style="text-align: right;">
               
                <h5>
                  Neetika Bhargav (Belmont, California)
                </h5>
              </div>
            </div>
           
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
        <div class="col-md-4 col-xs-12" style="">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px; height: 250px;">
            <div style="text-align: center;">
              <p style=" overflow-y: auto;">
                My daughter has been with SharpMind labs since last year. We are very pleased with the tutors and the quality of instruction that she is receiving. The teachers are very helpful and very much interested in the success of the students. We highly recommend the service. 
              </p>
              <div style="text-align: right;">
               
                <h5>
                  Sachin Jain (Texas) 
                </h5>
              </div>
            </div>
        
          </div>
            <div style="text-align: center;">
              <br>
             <br>
             <br>
             <br>
             <br>
             <br><br><br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 300px; overflow-y: hidden;">
              <p style="">
                Anjali has improved a lot in English she actually likes English a lot more now. Ishika has been an excellent English tutor I can’t thank her enough for her hardwork with our Daughter. She explains difficult concept clearly and addresses the area that needs improvement. The tutoring with Ishika has been a pleasure and a positive experience for Anjali.

              </p>
              <div style="text-align: right;">
               
                <h5>
                  Disha Gupta (Sydney)
                </h5>
              </div>
            </div>
            </div>
        
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12" >
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 250px; overflow-y: auto;">
              <p style="">
                Before SharpMind labs, my grades were good but not stellar. I wanted to improve my grades to ensure admission to a good engineering focused school. SharpMind labs helped me improve my grades consistently and laid the groundwork for my future career.The tutoring program included several private tutoring sessions per week.The Math and Chemistry tutors were not only extremely competent but kind and understanding as well who adapted their teaching to my learning pace.


                <br>
               
              </p>
              <div style="text-align: right;">
               
                <h5>
                  Arnav Agrawal (California)
                </h5>
              </div>
            </div>
           
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      
        </div>
      </div>
      <div class="carousel-item ">
        <div class="row">
        <div class="col-md-4 col-xs-12" style="">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px; height: 250px;">
            <div style="text-align: center;">
              <p style=" overflow-y: auto;">
                It is an amazing   experience with teacher Prerna  for Geometry classes for my  10th grader. She is very knowledgeable about the subject. She customize the tutoring to my child’s grasp to ensure that fundamentals  are clear before moving on to the next topic. Highly Recommended Service. 
              </p>
              <div style="text-align: right;">
               
                <h5>
                  Rajendra Jain (California)
                </h5>
              </div>
            </div>
        
          </div>
            <div style="text-align: center;">
              <br>
             <br>
             <br>
             <br>
             <br>
             <br><br><br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 300px; overflow-y: hidden;">
              <p style="">
                Anjali has improved a lot in English she actually likes English a lot more now. Ishika has been an excellent English tutor I can’t thank her enough for her hardwork with our Daughter. She explains difficult concept clearly and addresses the area that needs improvement. The tutoring with Ishika has been a pleasure and a positive experience for Anjali.

              </p>
              <div style="text-align: right;">
               
                <h5>
                  Disha Gupta (Sydney)
                </h5>
              </div>
            </div>
            </div>
        
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 col-xs-12" >
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px;">
            <div style="text-align: center; height: 250px; overflow-y: auto;">
              <p style="">
                Before SharpMind labs, my grades were good but not stellar. I wanted to improve my grades to ensure admission to a good engineering focused school. SharpMind labs helped me improve my grades consistently and laid the groundwork for my future career.The tutoring program included several private tutoring sessions per week.The Math and Chemistry tutors were not only extremely competent but kind and understanding as well who adapted their teaching to my learning pace.


                <br>
               
              </p>
              <div style="text-align: right;">
               
                <h5>
                  Arnav Agrawal (California)
                </h5>
              </div>
            </div>
           
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      
        </div>
      </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</div>
<div class="container d-block d-sm-none">
  <div id="carouselExampleControls2" class="carousel slide "  data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
        <div class="col-md-4 col-xs-12" style="">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px; " class="back">
            <div style="text-align: center;">
              <p style="height: 150px; overflow-y:scroll">
                Hi Preeti , Jojy here, Abiel and Alfred’s mum. I just wanted to say thank you for all the hard work you are doing with my boys. You are definitely doing an excellent job with them. Since starting with you , they have so far made a tremendous progress and their maths skills has improved and they are doing good in school too. Your teaching strategies are really good and I honestly appreciate your patience. This is just to thank you for all your hard work . 
              </p>
            </div>
            <div style="text-align: right;">
           
              <h5>
                Jojy and  Max (Australia)
              </h5>
            </div>
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
      </div>
      <div class="carousel-item ">
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
        <div class="col-md-4 col-xs-12">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
            <div style="text-align: center;">
              <p style="">
                You and your team are doing great work and continue to make a difference in our kid’s life. You are indeed a great teacher. 
              </p>
            </div>
            <div style="text-align: right;">
              <h4>
                Mona Jain (Australia)
              </h4>
              <h5>
               <br>
              </h5>
            </div>
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
        <div class="col-md-4 col-xs-12">
          <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
          background-size: contain;  background-position: center bottom;">
          <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
            <div style="text-align: center;">
              <p>
                I just wanted to thank you for your help with Sargun. Ever since you have started to tutor Sargun, she has excelled a lot in reading and other subjects in school. She has reached many milestones in her academics. My family and I are very grateful to SharpMind Labs  for your dedication and the time you are spending with Sargun.

              </p>
            </div>
            <div style="text-align: right;">
              <h4>
                Vinay Sohal (Australia )
              </h4>
              <h5>
                
              </h5>
            </div>
          </div>
            <div style="text-align: center;">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
        </div>
        <div class="carousel-item">
          <div class="row" style="padding-left: 10px; padding-right: 10px;">
          <div class="col-md-4 col-xs-12">
            <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
            background-size: contain;  background-position: center bottom;">
            <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
              <div style="text-align: center;">
                <p>
                  I would like to let you know that Avni had her parent- teacher conference last week and she is doing very well in school. She is way ahead of her classmates in reading and writing. Also  in maths, she is able to do all the problems with ease and is meeting the grade level. She has been scoring 3 which is the benchmark.  Thank you Neha and Ishika for your help. 
                </p>
              </div>
              <div style="text-align: right;">
                <h4>
                  Meeti Takur (New York)
                </h4>
                <h5>
                  <br>
                </h5>
              </div>
            </div>
              <div style="text-align: center;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
          </div>
          <div class="carousel-item">
            <div class="row" style="padding-left: 10px; padding-right: 10px;">
            <div class="col-md-4 col-xs-12">
              <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
              background-size: contain;  background-position: center bottom;">
              <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
                <div style="text-align: center;">
                  <p>
                    Japjot got a 96% on his exams. I would like to thank Nidhi, who has been an excellent teacher to my son and helped Japjot to avail the opportunity to transfer to advanced Maths class. Without her effort, it would have been tough to achieve. Many thanks to Nidhi. 
                  </p>
                </div>
                <div style="text-align: right;">
                  <h4>
                    Jasmeet Gill (Texas)
                  </h4>
                  <h5>
                   <br>
                  </h5>
                </div>
              </div>
                <div style="text-align: center;">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
              <br>
              <br>
            </div>
          </div>
            </div>
            <div class="carousel-item">
              <div class="row" style="padding-left: 10px; padding-right: 10px;">
              <div class="col-md-4 col-xs-12">
                <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
                background-size: contain;  background-position: center bottom;">
                <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
                  <div style="text-align: center;">
                    <p>
                      My daughter has been with SharpMind labs since last year. We are very pleased with the tutors and the quality of instruction that she is receiving. The teachers are very helpful and very much interested in the success of the students. We highly recommend the service. 
                    </p>
                  </div>
                  <div style="text-align: right;">
                    <h4>
                      Sachin Jain (Texas) 
                    </h4>
                    <h5>
                     <br>
                    </h5>
                  </div>
                </div>
                  <div style="text-align: center;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
                <br>
                <br>
              </div>
            </div>
              </div>
              <div class="carousel-item">
                <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <div class="col-md-4 col-xs-12">
                  <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
                  background-size: contain;  background-position: center bottom;">
                  <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
                    <div style="text-align: center;">
                      <p>
                        Before SharpMind labs, my grades were good but not stellar. I wanted to improve my grades to ensure admission to a good engineering focused school. SharpMind labs helped me improve my grades consistently and laid the groundwork for my future career.The tutoring program included several private tutoring sessions per week.The Math and Chemistry tutors were not only extremely competent but kind and understanding as well who adapted their teaching to my learning pace.

                      </p>
                    </div>
                    <div style="text-align: right;">
                      <h4>
                        Arnav Agrawal (California)
                      </h4>
                      <h5>
                       <br>
                      </h5>
                    </div>
                  </div>
                    <div style="text-align: center;">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
                </div>
                <div class="carousel-item">
                  <div class="row" style="padding-left: 10px; padding-right: 10px;">
                  <div class="col-md-4 col-xs-12">
                    <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
                    background-size: contain;  background-position: center bottom;">
                    <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
                      <div style="text-align: center;">
                        <p>
                          	Anjali has improved a lot in English she actually likes English a lot more now. Ishika has been an excellent English tutor I can’t thank her enough for her hardwork with our Daughter. She explains difficult concept clearly and addresses the area that needs improvement. The tutoring with Ishika has been a pleasure and a positive experience for Anjali.


                        </p>
                      </div>
                      <div style="text-align: right;">
                        <h4>
                          Disha Gupta (Sydney)
                        </h4>
                        <h5>
                         <br>
                        </h5>
                      </div>
                    </div>
                      <div style="text-align: center;">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                      </div>
                    </div>
                    <br>
                    <br>
                  </div>
                </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row" style="padding-left: 10px; padding-right: 10px;">
                    <div class="col-md-4 col-xs-12">
                      <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
                      background-size: contain;  background-position: center bottom;">
                      <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
                        <div style="text-align: center;">
                          <p>
                            	It is an amazing   experience with teacher Prerna  for Geometry classes for my  10th grader. She is very knowledgeable about the subject. She customize the tutoring to my child’s grasp to ensure that fundamentals  are clear before moving on to the next topic. Highly Recommended Service. 
                          </p>
                        </div>
                        <div style="text-align: right;">
                          <h4>
                            Rajendra Jain (California)
                          </h4>
                          <h5>
                           <br>
                          </h5>
                        </div>
                      </div>
                        <div style="text-align: center;">
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                        </div>
                      </div>
                      <br>
                      <br>
                    </div>
                  </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row" style="padding-left: 10px; padding-right: 10px;">
                      <div class="col-md-4 col-xs-12">
                        <div class="card" style="background-image: url('/assets/backcard.png'); background-repeat: no-repeat;
                        background-size: contain;  background-position: center bottom;">
                        <div style="background-color:#F2D984; padding: 15px; height: 250px; overflow-y: scroll;"  class="back">
                          <div style="text-align: center;">
                            <p>
                              My son and daughter have been tutored by SharpMind Labs for several years. I’ve seen a remarkable transformation in their studies and grades. SharpMind labs has a tremendous value in comparison to other tutoring services. The results speak for themselves   both kids are now excellent math student.
                            </p>
                          </div>
                          <div style="text-align: right;">
                            <h4>
                              Neetika Bhargav (Belmont, California)
                            </h4>
                            <h5>
                             <br>
                            </h5>
                          </div>
                        </div>
                          <div style="text-align: center;">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </div>
                        </div>
                        <br>
                        <br>
                      </div>
                    </div>
                      </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
     
  </div>
</div>
</div>
<%- include("./partials/footer.ejs") %>
