<%- include("./partials/header.ejs") %>
<div class="hero-section content">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
    <div class="login-Section col-lg-6 col-md-8 col-sm-10">
        <h1 class="main-header">SharpMind Labs</h1>
        <div class="button-login" id="login-button">
            <div class="text-login">
                <a href="/login" class="login-link"> Log in </a>
            </div>
            <div class="right-arrow">
                <img src="/assets/Path 17.svg">
            </div>
        </div>
        <div class="main-content">
            <P>Sharpmind Labs is an institute which is set to help children develop logical, mental and analytical
                skills in safe and promoting environment. Institute is imparting practice based learnings in Abacus,
                Analytical Learnings, Competitive exams preparations, Concentration Power enhancement for over 15+ years
                for children in the age group of 5 – 13 years. We firmly believe that during this age band, mind is most
                receptive and conducive to learn. </P>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>

</div>
<div class="about-section">
    <div class="about-video embed-responsive embed-responsive-16by9">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
    <div class="about-content">
        <h1 class="about-header">Why SharpMind Labs ?</h1>
        <br>
        <div class="about-body">
            <p> Sharpmind labs is set-up by experienced and professional instructors to provide mental and analytical
                skills for growing and developing children where mind is most receptive and quick to absorb.</p>
            <p>
                We adopt the most scientific and experiential learning methods aimed to provide guaranteed results,
                visible outcome in memory power and mental mathematics, as well as child’s performance in other spheres
                of life. </p>
        </div>
    </div>
</div>
<div class="type-section container-fluid">
    <h1 class="jumpbotron type-heading">Types of Quizes Provided</h1>
    <br>
    <!-- <h3 class="light-header"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3> -->
    <br>
    <!-- <div class="type-content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto numquam eaque odit praesentium suscipit libero
        impedit totam quisquam dolorem quia, nostrum cupiditate eos temporibus iste veritatis sequi tempore sunt magnam.
    </div> -->
    <br>
    <div class="type-categories row">
        <div class="type-category col-lg-4 col-sm-12">
            <img src="/assets/book.png" class="image">
            <h3 class="small-header">Word Problems</h3>
            <div class="small-content">
                In this section you will be provided various problems and you have to select the answer which you get by solving the problem.
            </div>
        </div>
        <div class="type-category col-lg-4 col-sm-12">
            <img src="/assets/calculator.png" class="image">
            <h3 class="small-header">Flash Cards</h3>
            <div class="small-content">
                In this section you will be provided images of an abacus and you have to answer it by selecting the correct number which it shows.
            </div>
        </div>
        <div class="type-category col-lg-4 col-sm-12">
            <img src="/assets/paper-clip.png" class="image">
            <h3 class="small-header">Quizzes</h3>
            <div class="small-content">
                In this section you will be provided with various numbers and you have perform operations between them within a certain time limit.
            </div>
        </div>
    </div>
</div>
</div>
<div class="pricing-section container-fluid">
    <br>
    <h1 class="jumpbotron pricing-header">Plans And Prices</h1>
    <br>
    <div class="pricing-main row">
        <div class="pricing-content col-lg-3 col-sm-3">
            <img src="/assets/wallet.png" class="image">
            <h3 class="small-header">Lorem Ipsum</h3>
            <div class="small-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
            </div>
        </div>
        <div class="pricing-content col-lg-3 col-sm-3">
            <img src="/assets/wallet.png" class="image">
            <h3 class="small-header">Lorem Ipsum</h3>
            <div class="small-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
            </div>
        </div>
        <div class="pricing-content col-lg-3 col-sm-3">
            <img src="/assets/wallet.png" class="image">
            <h3 class="small-header">Lorem Ipsum</h3>
            <div class="small-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
            </div>
        </div>
        <div class="pricing-content col-lg-3 col-sm-3">
            <img src="/assets/wallet.png" class="image">
            <h3 class="small-header">Lorem Ipsum</h3>
            <div class="small-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
            </div>
        </div>
    </div>
</div>
<script src="scripts/main.js"></script>
<%- include("./partials/footer.ejs") %>
</body>

</html>