<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="\stylesheets\style.css"  type="text/css">

    <title> </title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div  class="content">
        <div class="Login-Section">
            <h1 class="main-header">SharpMind Labs</h1>
            <div class="button-login">
                <div class="text-login">
                    Log in
                </div>
                <div style="align-self: center; justify-self: center; margin-left: 20px;">
                    <img src="/assets/Path 17.svg">
                </div>
            </div>
           <div class="main-content">
            <P>Sharpmind Labs is an institute which is set to help children develop logical, mental and analytical skills in safe and promoting environment. Institute is imparting practice based learnings in Abacus, Analytical Learnings, Competitive exams preparations, Concentration Power enhancement for over 15+ years for children in the age group of 5 – 13 years. We firmly believe that during this age band, mind is most receptive and conducive to learn. </P>
           </div>
        </div>
    </div>
      <div style="display: flex; ">
        <div style="flex: 1;">
            <iframe  width="100%" height="100%"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
        </div>
        <div style="flex: 1; text-align: center; align-self: center; justify-self: center; padding-right: 10px;">

            <h1 class="second-header">Why SharpMind Labs ?</h1>
            <br>
            <div class="second-content" style="text-align: justify;  padding-left: 10px;">
               <p> Sharpmind labs is set-up by experienced and professional instructors to provide mental and analytical skills for growing and developing children where mind is most receptive and quick to absorb.</p><p>
We adopt the most scientific and experiential learning methods aimed to provide guaranteed results, visible outcome in memory power and mental mathematics, as well as child’s performance in other spheres of life. </p>

               </div>
               
        </div>
      </div>
      <div style="width: 100%; background-color: #E4E4E4; padding-left: 10%; padding-right: 10%; padding-bottom: 25px;">
        <h1 class="second-header">Lorem Ipsum</h1>
        <br>
        <h3 class="light-header"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <br>
        <div class="second-content" style="text-align: center;  ">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto numquam eaque odit praesentium suscipit libero impedit totam quisquam dolorem quia, nostrum cupiditate eos temporibus iste veritatis sequi tempore sunt magnam.
           </div>
           <br>
           <div style="display: flex; justify-content: space-between; ">
            <div style="text-align: center;">
                <img src="/assets/book.png" class="image">
                <h3 class="small-header">Worksheets</h3>
                <div class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div>
            <div style="text-align: center;">
                <img src="/assets/calculator.png" class="image">
                <h3 class="small-header">Flash Cards</h3>
                <div  class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div >
            <div style="text-align: center;">
                <img src="/assets/paper-clip.png" class="image">
                <h3 class="small-header">Quizzes</h3>
                <div  class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div>
           </div>
      </div>
      <div style="display: flex;  padding-left: 10%; padding-right: 10%; padding-bottom: 30px; padding-top: 30px;">
        <div style="text-align: left; flex: 1;">
            <h4 class="light-header" style="text-align: left !important;"><b>Not registered? Sign Up Now!</b></h4>
            <br>
            <div style="text-align: left;" class="small-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio doloremque beatae a qui exercitationem recusandae vel, facilis ab dolore, delectus veniam accusamus? Voluptatibus a quisquam eius quod. Qui, vel voluptates?
            </div>
            <br>
           
        <div style="flex: 1; text-align: center;" action="auth" method="POST">
            <form action="auth" method="POST">
                <input type="email" placeholder="Email" class="Input" name="username">  <br>
                <input type="password" placeholder="Password" class="Input" name="password">  <br>
                <div class="button-signup">
                    <input class="text-signup" type="submit" style="background-color: none;">
                </div>
            </div>
            </form>
        </div>
      </div>
      <div style="width: 100%;  padding-left: 10%; padding-right: 10%; padding-bottom: 25px;">
        <h1 class="second-header">Plans And Prices</h1>
        <br>
        <div style="display: flex; justify-content: space-between; ">
            <div style="text-align: center;">
                <img src="/assets/wallet.png" class="image">
                <h3 class="small-header">Lorem Ipsum</h3>
                <div class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div>
            <div style="text-align: center;">
                <img src="/assets/wallet.png" class="image">
                <h3 class="small-header">Lorem Ipsum</h3>
                <div  class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div >
            <div style="text-align: center;">
                <img src="/assets/wallet.png" class="image">
                <h3 class="small-header">Lorem Ipsum</h3>
                <div  class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div>
            <div style="text-align: center;">
                <img src="/assets/wallet.png" class="image">
                <h3 class="small-header">Lorem Ipsum</h3>
                <div  class="small-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus molestias labore? Magni, eius.
                </div>
            </div>
           </div>
      </div>
      <%- include("./partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>