<%- include("./partials/header.ejs") %>
<div class="row" style="padding: 15px;">
    <div class="col-md-5 col-xs-10 card shadow-lg" style="margin: auto; ">
        <div class="card-body">
<div style="display: flex;   padding-bottom: 30px; padding-top: 30px;" id="login">
    <div style="flex: 1;">
        <h4 class="light-header" style="text-align: center !important;"><b>Not Logged-in? Log In Now!</b></h4>
        <br>
        <br>
        <form action="/login" method="POST" >
                <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" name="password" placeholder="Password">
              </div>
              
            <% if (locals.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-btn" style="width: 30%;">
                    Login
                </button>
            </div>
        </form>
    </div>
    </div>
    </div>
</div>
</div>
<%- include("./partials/footer.ejs") %>
