<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/math.jpg" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">Math Tutoring</h1>
        <div style="text-align: left;">
            <p>
                Mathematics includes the study of such topics as quantity (number theory), structure (algebra), space (geometry), and change (mathematical analysis). A thorough understanding of Mathematics is essential in many fields, including natural science, engineering, medicine, finance, and the social sciences. SharpMinds tutors teach Mathematical concepts in progressively complexity to help students with elementary to high school Math in compliance to the Common Core Standards and local requirements.            </p>
           
        </div>
        <div>
</div>
</div>
</div>
<br>
<br>
<h1>Grades K-5/ Elementary Math</h1>
<p>
    In grades K-5, tutors provide students with a solid foundation in whole numbers, addition, subtraction, multiplication, division, fractions and decimals — which help young students build the foundation to successfully apply more demanding math concepts and procedures, and move into applications. Tutors stress not only procedural skill but also conceptual understanding, to make sure students are learning and absorbing the critical information they need to succeed at higher levels - rather than the current practices by which many students learn enough to get by on the next test, but forget it shortly thereafter, only to review again the following year.
</p>
<br>
<h1>Middle School Math</h1>
<p>
    Having built a strong foundation K-5, students can do hands on learning in geometry, algebra and probability and statistics in middle school. Students who have completed 7th grade and mastered the content and skills through the 7th grade will be well-prepared for algebra in grade 8.
</p>
<br>
<h1>
    High School Math
</h1>
<p>
    In our high schools, students practice applying mathematical ways of thinking to real world issues and challenges and develop the ability to think and reason mathematically. High school tutors focus on college and career readiness, by helping students develop a depth of understanding and ability to apply mathematics to novel situations, as college students and employees regularly do. High school math instruction also emphasize mathematical modeling, the use of mathematics and statistics to analyze empirical situations, understand them better, and improve decisions. 
</p>
<br>
<h1>
    Study Math Online  
</h1>
<p>
    Our online Math courses are designed to give students a good understanding of fundamental Math concepts and principles. Our Math tutors are available for online tutoring, so you can get to work immediately in the following subject areas: High School Math, Honors Math, AP Math, Math homework help, Math test preparation, Number sense and operations, Algebra, Geometry and spatial sense, Measurements, Data Analysis, and Probability. Our online tutors use proven tutoring techniques to help their students build academic self-confidence and achieve positive results in the classroom. A well-trained Math tutor can identify a student’s specific weak points and work on those so that their abilities and grades improve.
</p>
</div>

<%- include("./partials/footer.ejs") %>
