<%- include("./partials/header.ejs") %>
<div class="quiz-section">
    <div class="quiz-content">
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <img src="/assets/reading.png" class="quiz-image">
        </div>
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <h1 class="second-header"> Quiz Me</h1>
            <select class="quiz-input" id="arithmetic" style="width: 100%; padding-left: 15px;">
                <option value="subAndAdd">Addition/Subtraction</option>
                <option value="mulAndDiv">Multiplication/Division</option>
            </select>
            <select id="questionType" placeholder="Mode" class="quiz-input" style="width: 100%;">
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="onetwo">OneTwo</option>
            </select>
            <br>
            <a class="quiz-start-btn button-login" onclick="onInput()">Start</a>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
</body>

</html>