<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/class.png" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">About School Programs</h1>
        <div style="text-align: left;">
            <p>
                We offer all major subjects Maths, Science, English, and Business courses for all grades /years right from Elementary Level (Grade – 1 onwards) to High Level Grade / year-12.
            </p>
            <p>
                All our courses are exclusively designed as per the country specific academic curriculum, study patterns, examination patters as well as teaching patterns. 
            </p>
            <p>
                Our instructors work very closely with Learners to gauge their reception level, areas where they need specific help, their style of learning as well as their level of absorption. At the same time, we work very closely with Parents to understand the course patterns, Syllabus / curriculum as well as areas of focus for the wards for their better performance. 
            </p>
        </div>
        <div>
</div>
</div>
</div>
<br>
<div style="text-align: center;">
    <h1>Competitive Examination Readiness</h1>
</div>
<div style="text-align: justify;">
<p>Our instructors work very closely with Learners to gauge their reception level, areas where they need specific help, their style of learning as well as their level of absorption. At the same time, we work very closely with Parents to understand the course patterns, Syllabus / curriculum as well as areas of focus for the wards for their better performance. 

</p>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-xss-12">
        <img src="/assets/uk.png" style="width: 100%; height: auto; max-width: 400px;"/>
        <ol style="padding-left: 20px; margin-top: 20px;">
            <li>Opportunity Class Test-Comprehensive and recapitulation program</li>
            <li>Selective School Test Year 7 entry, NSW-Comprehensive and recapitulation program.</li>
            <li>Selective School Test Year 9 entry, Victoria--Comprehensive and recapitulation program. </li>
            <li>NAPLAN - Year -3, 5, 7 and 9</li>
        </ol>

    </div>
    <div class="col-md-6 col-xss-12">
        <img src="/assets/download.png" style="width: 100%; height: auto;  max-width: 400px;"/>
        <ol style="padding-left: 20px; margin-top: 20px;">
            <li>National Talent Search Examination (NTSE)</li>
            <li>National Level Science Talent Search Exam or NSTSE</li>
            <li>Indian National Olympiads -:<ul>
                <li>
                    IMO
                </li>
                <li>NSO</li>
                <li>NCO</li>
                <li>IIO</li>
                <li>IEO</li>
            </ul> </li>
           
        </ol>
    </div>
</div>
</div>

<%- include("./partials/footer.ejs") %>
