<%- include("./partials/header.ejs") %>
<div class="container">
<br>
<div class="row">
    <div class="col-lg-5" style="text-align: center;">
        <img src="/assets/sci.jpg" class="learn-online" style="width: 100%; height: auto;"/>

    </div>
    <div class="col-lg-7  " style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="text-align: center;">Science Tutoring</h1>
        <div style="text-align: left;">
            <p>
                STEM is the acronym for Science, Technology, Engineering, and Mathematics, and encompasses a vast array of subjects that fall into each of those terms. Some common STEM areas include: aerospace engineering, astrophysics, astronomy, biochemistry, biomechanics, chemical engineering, chemistry, civil engineering, computer science, mathematical biology, nanotechnology, neurobiology, nuclear physics, physics, and robotics, among many others. Occupations in STEM-related careers are some of the most rewarding and fastest growing of the 21st century. Building a solid STEM foundation through a well-rounded curriculum is the best way to ensure that students are exposed to math, science, and technology throughout their educational career.           
        </div>
        <div>
</div>
</div>
</div>
<br>
<br>
<h1>Grades K-5/ Elementary Science</h1>
<p>
    In grades K-5, tutors inculcate observational curiosity in young minds. Tutors focus on most basic aspects of biology, ecology, geology and astronomy through observation of the world around them and general readings. </p>
<br>
<h1>Middle School Science</h1>
<p>
    In middle school, Tutors focus on biology, geology and astronomy in greater depth to help student develop curiosity and interest to investigate the world around them. This deeper curiosity and interest may ultimately result some of these student to engage in a career in science and technology.  </p>
<br>
<h1>
    Study Science Online  
</h1>
<p>
    Our online Science courses are designed to give students a good understanding of fundamental Scientific concepts and principles. Our Science tutors are available for online tutoring, so you can get to work immediately in the following subject areas: K-5 Science, Middle School Science, Science homework help and Science test preparation. Our online tutors use proven tutoring techniques to help their students build academic self-confidence and achieve positive results in the classroom. A well-trained Science tutor can identify a student’s specific weak points and work on those so that their abilities and grades improve.
</p>
<br>

</div>

<%- include("./partials/footer.ejs") %>
