<%- include("./partials/header.ejs") %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row justify-content-start">
        <div class="col-lg-6">
          <div class="blue-square hidden-on-mobile"></div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="height-64"></div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row justify-content-center">
                <h1 class="about-us-heading text-center">Sharpmind Labs</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-4">
      <img class="img-fluid" src="/assets/component.png" />
    </div>
    <div class="col-lg-2">
      <div class="row"><div class="yellow-square hidden-on-mobile"></div></div>
      <br />
      <div class="row">
        <img class="img-fluid hidden-on-mobile" src="/assets/abacus-colors.png" />
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p>
        Sharpmind Labs is an institute which is set to help children develop
        logical, mental and analytical skills in safe and promoting environment.
        Institute is imparting practice based learnings in Abacus (Mental
        Mathematics), Analytical Learnings, Competitive exams preparations,
        Concentration Power enhancement for over 15+ years.
      </p>
      <p>
        Institute has helped hundreds of students with its classroom based
        trainings for last 15+ years both in the institute centers as well as
        online sessions (for last 5+ years). SharpMind Labs © is now venturing
        into online learning and training programs to expand the reach to the
        larger base of learners across geographies.
      </p>
      <p>
        Our programs are designed as per the subject curriculum of respective
        countries, school patterns along with competitive examination formats.
        We provide online, adaptive 1-on-1 tutoring or Collective tutoring
        across USA, UK, Australia, New Zealand and India.
      </p>
      <p>
        Further our Instructors also have accent of local geographies of our
        course coverage.
      </p>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-lg-6">
      <h1>Why Us?</h1>
      <br />
      <p>
        Sharpmind labs is set-up by experienced and professional instructors to
        provide mental and analytical skills for growing and developing children
        where mind is most receptive and quick to absorb.
      </p>
      <p>
        We adopt the most scientific and experiential learning methods aimed to
        provide guaranteed results, visible outcome in memory power and mental
        mathematics, as well as child’s performance in other spheres of life.
      </p>
    </div>
    <div class="col-lg-6 d-flex justify-content-end">
      <img src="/assets/learn_online.svg" class="learn-online" />
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <h1 class="text-center">We provide online tutoring across</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center flex-wrap">
      <div class="col-lg-2 col-sm-12 text-center">
        <img class="img-fluid flags" src="/assets/india.png"">
        <div class="d-flex justify-content-center">
          <h5 class="font-weight-bold">India</h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 text-center">
        <img class="img-fluid flags" src="/assets/uk.png"">
        <div class="d-flex justify-content-center">
          <h5 class="font-weight-bold">United Kingdom</h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 text-center">
        <img class="img-fluid flags" src="/assets/us.png"">
        <div class="d-flex justify-content-center">
          <h5 class="font-weight-bold">USA</h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 text-center">
        <img class="img-fluid flags" src="/assets/nz.png"">
        <div class="d-flex justify-content-center">
          <h5 class="font-weight-bold">New Zealand</h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 text-center">
        <img class="img-fluid flags" src="/assets/australia.png"">
        <div class="d-flex justify-content-center">
          <h5 class="font-weight-bold">Australia</h5>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <h1 class="display-4">Management</h1>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-6 justify-content-center d-flex">
      <img src="assets/teacher.png" />
    </div>
    <div class="col-lg-6">
      <h2>Preeti Agarwal</h2>
      <br />
      <h2>Experience</h2>
      <p>
        12+ years of experience in tutoring learners from grade 1-9 (6-14 years
        age) in Mathematics, Abacus, Mental Mathematics and Logical reasoning.
      </p>
      <p>
        Hands-on experience in developing Mental Mathematics aptitude, Abacus
        calculations. Have thought over 400-500 students in Mathematics & Abacus
        in last 12+ years.
      </p>
      <br />
      <h2>Achievements</h2>
      <p>
        Had setup institute by name SharpMind Institute in Sanpada, Maharashtra,
        India as Franchise of UCMAS for Abacus and Mental Mathematics. Was among
        the fastest growing and best performing institute for 3 years in row
        (2012-2015) Specializes in making Maths simple and fun for students with
        an aim to make the concept understood by learner rather feeding a
        concept.
      </p>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <h1 class="display-4 text-center">About Instructors</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="row hidden-on-mobile">
        <div class="height-64"></div>
        <div class="height-64"></div>
      </div>
      <div class="row">
        <div class="container">
          <p>
            Programs are taken by certified Instructors having 5- 15+ years of
            experience
          </p>
        </div>
      </div>
      <div class="row hidden-on-mobile">
        <div class="height-64"></div>
        <div class="height-64"></div>
      </div>
      <div class="row">
        <div class="container">
          <p>
            Practice is key to success and hence instructors work with parents
            to focus on daily home / Online practice
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center">
      <img class="img-fluid" src="/assets/about-instructors.png" />
    </div>
    <div class="col-lg-3">
      <div class="row hidden-on-mobile">
        <div class="height-64"></div>
        <div class="height-64"></div>
      </div>
      <div class="row">
        <div class="container">
          <p>
            Most of our Instructors have undertaken classroom session as well as
            online sessions
          </p>
        </div>
      </div>
      <div class="row hidden-on-mobile">
        <div class="height-64"></div>
        <div class="height-64"></div>
      </div>
      <div class="row">
        <div class="container">
          <p>
            We have focused Instructor review mechanism; to ensure there is
            complete comfort between learner (ward) and instructor
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs") %>
