<%- include("./partials/header.ejs") %>
<div class="row" >
    <div class="imageContainer col-md-6 col-xs-12"> 
        <img src="/assets/teacher.png" style="border: black 2px solid;">
    </div>
    <div class="imageContainer col-md-6 col-xs-12" style="text-align: left; padding-left: 5% !important; padding-right: 5% !important;">
        <h1 class="about-header"><b>Teacher's Name</b></h1>
        <br>
        <br>
        <h1 class="about-header" style="padding-left: 5px;">Experience</h1>
        <div class="about-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius possimus nobis quis. Dicta asperiores libero unde repudiandae nam alias culpa, incidunt fuga quis veritatis corporis quos, officia pariatur itaque delectus!
        </div>
        <br>
        <br>
        <h1 class="about-header" style="padding-left: 5px;">Philosophy</h1>
        <div class="about-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius possimus nobis quis. Dicta asperiores libero unde repudiandae nam alias culpa, incidunt fuga quis veritatis corporis quos, officia pariatur itaque delectus!
        </div>
        <br>
        <br>
        <h1 class="about-header" style="padding-left: 5px;">Certification</h1>
        <div class="about-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius possimus nobis quis. Dicta asperiores libero unde repudiandae nam alias culpa, incidunt fuga quis veritatis corporis quos, officia pariatur itaque delectus!
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>