<%- include("./partials/header.ejs") %>
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">OUR TEACHERS</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/avatar.png" alt="card image"></p>
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis praesentium doloribus, perspiciatis consequatur sequi, ipsa nemo, magnam pariatur dolores repellendus error rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/avatar.png" alt="card image"></p>
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis praesentium doloribus, perspiciatis consequatur sequi, ipsa nemo, magnam pariatur dolores repellendus error rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/avatar.png" alt="card image"></p>
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis praesentium doloribus, perspiciatis consequatur sequi, ipsa nemo, magnam pariatur dolores repellendus error rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/avatar.png" alt="card image"></p>
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis praesentium doloribus, perspiciatis consequatur sequi, ipsa nemo, magnam pariatur dolores repellendus error rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/avatar.png" alt="card image"></p>
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis praesentium doloribus, perspiciatis consequatur sequi, ipsa nemo, magnam pariatur dolores repellendus error rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/assets/avatar.png" alt="card image"></p>
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Lorem ipsum</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis praesentium doloribus, perspiciatis consequatur sequi, ipsa nemo, magnam pariatur dolores repellendus error rem?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
       
            </div>
        </div>
    </section>
    <%- include("./partials/footer.ejs") %>

</body>
</html>