<%- include("./partials/header.ejs") %>
<div id="word-question">

</div>
<div>
    <input type="radio" id="option1" name="option" value="male" style="visibility: hidden ;">
    <label for="option1" id="answer1" style="visibility: hidden ;">option1</label><br>
    <input type="radio" id="option2" name="option" value="female" style="visibility: hidden ;">
    <label for="option2" id="answer2" style="visibility: hidden ;">option2</label><br>
    <input type="radio" id="option3" name="option" value="other" style="visibility: hidden ;">
    <label for="option3" id="answer3" style="visibility: hidden ;"></label><br>
    <input type="radio" id="option4" name="option" value="other" style="visibility: hidden ;">
    <label for="option4" id="answer4" style="visibility: hidden ;"></label><br>


</div>
<button onclick="next()">Next</button>
<button onclick="submit()">Submit</button>

<%- include("./partials/footer.ejs") %>

<script>
    var question = <%- JSON.stringify(questions)   %> ;
    var options = <%- JSON.stringify(choices)   %>;
    var currentQuestion = 0;
    var isClicked = false;
     var prevOption

    document.getElementById('word-question').innerHTML = question[currentQuestion];
    for(let i = 0; i < options[currentQuestion].length; i++){
        let num = i + 1;
        document.getElementById("answer" + num.toString()).innerHTML = options[currentQuestion][i];
        document.getElementById("answer" + num.toString()).style.visibility = "visible";
        document.getElementById("option" + num.toString()).style.visibility = "visible"
        document.getElementById("option" + num.toString()).value = options[currentQuestion][i];


        console.log()
    }
    function next(){
        if (currentQuestion != question.length - 1){
            currentQuestion = currentQuestion + 1;
        document.getElementById('word-question').innerHTML = question[currentQuestion];

        
        for(let i = 0; i < options[currentQuestion].length; i++){
        let num = i + 1;
        document.getElementById("answer" + num.toString()).innerHTML = options[currentQuestion][i];
        document.getElementById("answer" + num.toString()).style.visibility = "visible";
        document.getElementById("option" + num.toString()).style.visibility = "visible";
        document.getElementById("option" + num.toString()).value = options[currentQuestion][i];
        isClicked = false;
        document.getElementById("answer" + prevOption.toString()).style.color = "black";

        }
    }
    }
    function submit() {
        var options = document.getElementsByName('option');
        for(i = 0; i < options.length; i++) {
                if(options[i].checked) {
                    var optionNum = i + 1;
                    const data = {
                        id: currentQuestion,
                        result: options[i].value
                    };
                    const url = "/check";
                    const param = {
                        headers: {
                            "content-type": "application/json; charset=UTF-8",
                            },
                        body: JSON.stringify(data),
                        method: "post",
                    };
                    fetch(url, param)
                        .then((response) => {
                            response = response.json();
                            return response;
                        }).then((data)=> {
                            console.log(data);
                            if(data.check && !isClicked) {
                                
                                document.getElementById("answer" + optionNum.toString()).style.color = "green";
                                isClicked = true;
                                prevOption = optionNum;

                            } else {
                                if(!isClicked) {
                                document.getElementById("answer" + optionNum.toString()).style.color = "red";
                                isClicked = true;
                                prevOption = optionNum;
                                }
                                
                         }
                     })
                }

            }
    }
</script>
</body>
</html>