<%- include("./partials/header.ejs") %>
<div class="quiz-section">
    <div class="quiz-content">
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <img src="/assets/pluto-done-1.png" class="quiz-image">
        </div>
        <div class="imageContainer col-lg-6 col-xs-12 col-md-6">
            <h1 class="second-header"> Word Problem</h1>
            <p>In this section you will be provided various problems and you have to select the answer which you get by solving the problem.</p>
            <a class="btn btn-warning btn-btn clickable" href="/wordProblem">Start</a>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
